<mat-toolbar class="title-toolbar nav-bar">
  <mat-toolbar-row class="logo-menu">
    <span class="title-center logo-name">MyFlix</span>
    <span class="example-spacer"></span>

    <!-- Buttons will render in the navbar only in case the user is logged in -->
    <button mat-button *ngIf="isLoggedIn()" (click)="goToMovies()">
      Movies
    </button>

    <button mat-button *ngIf="isLoggedIn()" (click)="goToProfile()">
      Profile
    </button>

    <button
      mat-button
      *ngIf="isLoggedIn()"
      class="logout-button"
      (click)="logOut()"
    >
      <mat-icon>logout</mat-icon> Logout
    </button>
  </mat-toolbar-row>
</mat-toolbar>
