$cardColor: #292b2c;
$textColor: white;
$boxShadowColor: #292b2c;

// * {
//   border: solid pink;
// }

.mat-button {
  margin: 6px 8px 6px 8px;
  min-width: 100px;
  border-radius: 0px;
  font-size: 1em;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  outline: none;
  color: $textColor;
}

.nav-bar {
  border-bottom: $boxShadowColor;
  background-color: $cardColor;
  margin-bottom: 40px;
}

.logo-name {
  color: $textColor;
  font-size: 2em;
}

.example-spacer {
  flex: 1 1 auto;
}
