<!-- <app-navbar></app-navbar> -->
<div class="user-profile-page" style="display: flex">
  <mat-card class="user-profile-card" style="flex: 1 1 auto">
    <mat-card-header class="user-profile-card-header">
      <mat-card-title>Your Profile information:</mat-card-title>
    </mat-card-header>

    <!-- User profile information display -->
    <mat-card-content class="user-profile-card-content">
      <p><b>Id: </b> {{ user._id }}</p>
      <p><b>Name: </b> {{ user.Username }}</p>
      <p><b>Email: </b> {{ user.Email }}</p>
      <p><b>Birthday: </b>{{ user.Birthday.slice(0, 10) }}</p>
      <br />
    </mat-card-content>

    <!-- User profile information edit -->
    <mat-card-header class="user-profile-card-header">
      <mat-card-title>Edit / Delete Profile information:</mat-card-title>
    </mat-card-header>

    <mat-card-actions>
      <button
        mat-raised-button
        color="primary"
        (click)="openEditProfileDialog()"
      >
        Edit
      </button>
      <button mat-raised-button color="warn" (click)="deleteProfile()">
        Delete
      </button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="user-profile-card" style="flex: 1 1 auto">
    <mat-card-header class="user-profile-card-header">
      <mat-card-title>Your Favorite movies list:</mat-card-title>
    </mat-card-header>
    <div class="user-profile-page-favorites" style="display: flex">
      <mat-card style="flex: 1 1 auto">
        <mat-card-header>
          <mat-card-title>Movie title</mat-card-title>
          <mat-card-subtitle>Directed by: Director name</mat-card-subtitle>
        </mat-card-header>
        <img src="" alt="" />
        <mat-card-actions>
          <button mat-button color="primary">Genre</button>
          <button mat-button color="primary">Director</button>
          <button mat-button color="primary">Synopsis</button>
          <mat-icon>favorite_border</mat-icon>
        </mat-card-actions>
      </mat-card>
    </div>
  </mat-card>

  <!-- User profile favorite movies -->
</div>
